header {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding-block: 4rem;

    & img {
        width: 116px;
        height: 56px;
    }

    & .wrapper-input {
        background-color: var(--gray-300);
        display: flex;
        padding: 0.5rem;
        border-radius: 8px;
        width: 400px;

        &:focus-within {
            outline: 2px solid var(--gray-400);
        }

        & input {
            background-color: inherit;
            border: none;
            font: var(--text-md);
            color: var(--gray-500);
            outline: none;
            flex: 1;

            &::placeholder {
                font: var(--text-md);
                color: var(--gray-500);
                padding: 0.5rem;
            }
        }

        & img {
            width: 40px;
            height: 40px;
        }
    }
}
